# S.Oliver: Einfache Kundenanalyse

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/klar74/WS2025_lecture/blob/main/Vorlesung_10/s_oliver_simple.ipynb)

**Lernziel:** Grundlagen der Datenanalyse - Mittelwerte, Gruppierung und einfache Visualisierung

**Vereinfachtes Szenario:** Analyse von Kundenalter und Ausgaben in verschiedenen Produktkategorien

** Lehrbeispiel! Die Daten sind künstlich erzeugt und ohne echte Zusammenhänge!

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Einfache Simulationsdaten erstellen
np.random.seed(42)
n_customers = 200

data = {
    'alter': np.random.normal(35, 12, n_customers).astype(int),
    'kategorie': np.random.choice(['Damen', 'Herren', 'Kids'], n_customers),
    'ausgaben_euro': np.random.normal(80, 30, n_customers)
}

df = pd.DataFrame(data)
df = df[df['alter'] > 16]  # Nur erwachsene Kunden
df['ausgaben_euro'] = df['ausgaben_euro'].round(2)

print(f"Anzahl Kunden: {len(df)}")
print("\nErste 5 Zeilen:")
df.head()

Anzahl Kunden: 190

Erste 5 Zeilen:

   alter kategorie  ausgaben_euro
0     40    Herren          98.99
1     33    Herren          12.38
2     42     Damen           6.30
3     53     Damen          77.70
4     32     Damen          62.31

In [ ]:
# Einfache Deskriptive Statistiken
print("=== KUNDENANALYTIK S.OLIVER ===")
print(f"Durchschnittsalter: {df['alter'].mean():.1f} Jahre")
print(f"Durchschnittliche Ausgaben: {df['ausgaben_euro'].mean():.2f} €")

print("\n=== AUSGABEN NACH KATEGORIE ===")
kategorie_stats = df.groupby('kategorie')['ausgaben_euro'].agg(['mean', 'count'])
print(kategorie_stats.round(2))

In [ ]:
# Einfache Visualisierung
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 5))

# Balkendiagramm: Durchschnittliche Ausgaben pro Kategorie
kategorie_mean = df.groupby('kategorie')['ausgaben_euro'].mean()
ax1.bar(kategorie_mean.index, kategorie_mean.values, color=['skyblue', 'lightcoral', 'lightgreen'])
ax1.set_title('Durchschnittliche Ausgaben pro Kategorie')
ax1.set_ylabel('Ausgaben (€)')

# Streudiagramm: Alter vs. Ausgaben
ax2.scatter(df['alter'], df['ausgaben_euro'], alpha=0.6, color='darkblue')
ax2.set_title('Alter vs. Ausgaben')
ax2.set_xlabel('Alter (Jahre)')
ax2.set_ylabel('Ausgaben (€)')

plt.tight_layout()
plt.show()

## Zusammenfassung

**Was haben wir gelernt?**
- Daten laden und erste Übersicht verschaffen
- Mittelwerte und Gruppierungen berechnen  
- Einfache Visualisierungen erstellen